.logo {
    width: 150px;
    height: 150px;
    border-radius: 10rem;
    margin-right: 20px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    margin-top: 50px;
    margin-left: 26%;
    font-size: 20px;
}

a {
    color:  #146ff9;
    text-decoration: none;
}

a:hover {
    color: #f02aab;
}

.back {
    margin-left: 26%;
}